body {
	height: 500px;
	overflow: hidden;
}
#heading {
	float: left;
	font-weight: bold;
	background-color: #6495ED;
	font-size: 35px;
	color: white;
	width: 180px;
	text-align: center;
	padding: 70px 0px 100% 0px;
	margin: 0px 30px 0px 5px;

}
.subheading {
	margin: 20px 40px;
	font-size: 22px;
	font-weight: bold;

}
p {
	font-size: 16px;
	margin: 18px 40px;
	font-weight: bold;
}
span {
	font-weight: normal;
	margin: 0px 40px 0px 8px;
}