header {
	margin: 15px 40px;
	font-size: 28px;
	font-weight: bold;
}
.subheading {
	margin: 20px 40px;
	font-size: 22px;
	font-weight: bold;

}
p {
	font-size: 16px;
	margin: 18px 40px;
	font-weight: bold;
}
span {
	font-weight: normal;
	margin: 0px 40px 0px 8px;
}
